doctype html5

html(lang="eng")
	
	head
		link(rel="apple-touch-icon", sizes="57x57", href="images/favicons/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="60x60", href="images/favicons/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="72x72", href="images/favicons/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="76x76", href="images/favicons/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="114x114", href="images/favicons/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="120x120", href="images/favicons/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="144x144", href="images/favicons/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="152x152", href="images/favicons/apple-touch-icon-152x152.png")
		link(rel="apple-touch-icon", sizes="180x180", href="images/favicons/apple-touch-icon-180x180.png")
		link(rel="icon" type="image/png", href="images/favicons/favicon-32x32.png", sizes="32x32")
		link(rel="icon" type="image/png", href="images/favicons/favicon-194x194.png", sizes="194x194")
		link(rel="icon" type="image/png", href="images/favicons/favicon-96x96.png", sizes="96x96")
		link(rel="icon" type="image/png", href="images/favicons/android-chrome-192x192.png", sizes="192x192")
		link(rel="icon" type="image/png", href="images/favicons/favicon-16x16.png", sizes="16x16")
		link(rel="manifest", href="/manifest.json")
		meta(name="msapplication-TileColor", content="#ffffff")
		meta(name="msapplication-TileImage", content="/mstile-144x144.png")
		meta(name="theme-color", content="#ffffff")
		link(rel="stylesheet", href="css/style.css")

		title TwitterSphere

	body

		script(type="x-shader/x-vertex" id="vertexShader").
			uniform mat4 u_normalMatrix;
			uniform vec3 lightDir;
			uniform float cameraPosX;
			uniform float cameraPosY;
			uniform float cameraPosZ;
			uniform float age_amplitude;

			varying vec3 newPosition;
			varying vec3 vNormal;
			varying float v_Dot;
			varying vec3 vLighting;
			varying	vec4 colorsArr;
			attribute float displacement;
			attribute vec4 attribColors;
   
			void main() {
				vec3 light = normalize(lightDir);
				vec3 newPosition = position + normal * vec3(displacement * age_amplitude);

				// three provides normal value
				vNormal = normal;

				// pass color to fragment shader
				colorsArr = attribColors;

				gl_Position = projectionMatrix * modelViewMatrix * vec4(newPosition, 1.0);

				highp vec3 ambientLight = vec3(0.4, 0.4, 0.4);
				highp vec3 directionalLightColor = vec3(0.2, 0.2, 0.2);
				highp vec3 directionalVector = vec3(cameraPosX, cameraPosY, cameraPosZ);

				vec4 transNormal = u_normalMatrix * vec4(vNormal, 1);

				v_Dot = max(0.0, dot(vNormal, directionalVector));

				vLighting = ambientLight + (directionalLightColor * v_Dot);

			}

		script(type="x-shader/x-vertex" id="fragmentShader").
			varying float v_Dot;
			varying vec3 vNormal;
			varying vec4 colorsArr;

			// lights
			varying highp vec3 vLighting;

			void main() {
				gl_FragColor = vec4(colorsArr) ;
			}

		
		aside#sidebar
			h1#title Net&ndash; <br /> work Sphere

			form#side-controls
				input(type='text', class="user-query-data", id='keyword', name='keyword', placeholder='Keyword')
				input(type='text', class="user-query-data", id='location', name='location', placeholder='Location')
				//- input(type='text', class="user-query-data", id='user', name='user', placeholder='User')
				
				input(type='submit', class="hidden-el", id='start-query', value='EXPLORE')
		

		header#top-header
			div#tweet-info-container
				
			img(src="/images/icons/menu-icon.svg" id="toggle-menu")

		div#container

		div#axis-container

		footer
			script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
			script(src="/socket.io/socket.io.js")
			script(type='text/javascript').
				var SOCKET = io();
			script(src="/js/libraries/three.min.js" id="vertexShader")
			script(src="/js/libraries/trackball.js")
			script(src="/js/main.js")
			script(src="/js/dom.js")
